.measure{
    height: 50px;
    width: 150px;
}



.mess{
    width: 70%;
    margin: auto;
}

.btn{
    margin: auto;
}

.center{
    width: 70%;
    margin: auto;
    font-size: 5rem;
    text-align: center;
}

